@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    background-color: #a0e651;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}